/.idea/
target
*.iml
*.class
.DS_Store
*.classpath
*.project
*.log
.settings/
.factorypath

log/
logs/
*.factorypath
crbzshop/src/main/java/cn/crbz/generator/CodeGenerator.java
logs
/home/data/programming/crbz/logs


### STS ###
.apt_generated
.classpath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
/jhkjGateway/src/main/resources/bootstrap.yaml
/zbbb/src/main/resources/bootstrap.yaml
/DB/version4.2.5toMASTER.sql
